.description{
    padding-top: 2%;
    padding-left: 2%;
}


.titre{
    text-align: center;
    color:whitesmoke;
    display: inline-block;
    font-size: calc(1rem + 1.5vw);
    margin-top: 1rem;
    position: relative;
      content: "";
      height: 1px;
      width: 50%;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0.5rem);
      border-bottom: 2px solid var(--purple);
}
.project {
    position: relative;
    height: 100%;
}

.middle {
    height: 100%;
    transition: 0.5s ease;
    opacity: 0;
    padding-top: 15%;
}

.project:hover img {
    opacity: 0.5;
}

.project:hover .middle {
    opacity: 1;
    background-color: #e5a1f8;;
}

.button {
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: var(--purple);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    left: 25%;
    position: relative;
    margin-bottom: 1rem;
}